.works {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.work {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.work h3 {
  margin-bottom: 10px;
  color: rgb(62, 63, 63);
}

.projectNav_filter {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  cursor: pointer;
  flex-wrap: wrap;
}
.projectNav {
  background-color: rgb(15, 12, 12);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.active {
  background-color: rgb(170, 37, 37);
  border-radius: 3px;
}

.projectData_filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.projectData {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #16161d;
  background-color: #16161d;
  padding: 7px 10px 0px 10px;
  border-radius: 4px;
  /* background-color: rgb(219, 201, 173); */
  position: relative;
  cursor: pointer;
}
.projectImg {
  width: 200px;
  height: 163px;
  /* border: 13px solid #486699; */
  /* border-radius: 67px 85px 45px; */

  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.projectData:hover .projectImg {
  transform: scale(1.1);
}
.projectImg img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.demo {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  place-content: center;
  gap: 10px;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 4px;
  font-weight: 500;
  transition: 0.1s ease-in-out;
  position: absolute;
  padding: 3.4px 4px;
  width: 100%;
  bottom: 0px;
  right: 0px;
  left: 0px;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.projectData:hover .demo {
  visibility: visible;
  opacity: 1;
}
.demo_button {
  background-color: white;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  align-items: center;
  transition: 0.2s ease-in-out;
}
.demo_button a {
  text-decoration: none;
  color: black;
}
.demo span {
  font-size: 12px;
}

.projectTitle h2 {
  font-size: 14px;
  margin: 6px 0px 13px 0px;

  color: white;
}
.viewButton {
  display: flex;
  flex-direction: row;
  transition: 0.2s ease-in-out;
  font-size: 13px;
  border: none;
  background-color: white;
  align-items: center;
  color: black;

  /* justify-content: center; */
}
.viewButton:hover {
  gap: 3px;
  color: rgb(110, 30, 30);
}
.demo_button:hover {
  gap: 3px;
  color: rgb(110, 30, 30);
}
/* ========================breakdown============================ */
@media screen and (max-width: 778px) {
  .work {
    margin-top: 100px;
  }
}
@media screen and (max-width: 486px) {
  .projectImg {
    width: 250px;
   
  }
  .demo {
    padding: 4px 4px;
    gap: 1px;
  }
  .demo_button {
    font-size: 12px;
  }
  .viewButton {
    font-size: 12px;
  }
}
