.qualification__container {
    max-width: 768px;
}

.qualification__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: var(--mb-2);
    gap: 1rem;
}
.section__title{
    color: var(--body_color);
}

.qualification__button {
    font-size: 18px;
    font-weight: 400;
    color: var(--body_color);
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    padding: 1px 8px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}


.qualification__section {
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}

.qualification__content {
    display: none;
}

.qualification__content-active {
    display: block;
}

.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 9rem;

}

.qualification__title {
    color: var(--body_color);
    font-size: 18px;
    font-weight: 400;
}

.qualification__subtitle {
    color: var(--body_color);
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
}

.qualification__calender {
    color: var(--body_color);
    font-size: 12px;
}

.qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    padding: 10px;
    background-color: cadetblue;
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 5px;
    height: 100%;
    background-color: var(--line);
    transform: translate(6px, -7px);
}

/* =========================Breakpoint============================ */
@media screen and (max-width: 968px) {
    .qualification__container {
        margin-left: auto;
        margin-right: auto;
    }
}

/* For medium screeen */
@media screen and (max-width: 768px) {
    .qualification__container {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .qualification__data {
        column-gap: 5rem;
    }
}

@media screen and (max-width: 576px) {
    .qualification__section {
        grid-template-columns: initial;
    }
    .qualification__button {
        font-size: 15px;
        gap: 0px;
    }
    .qualification__title{
        font-size: 14px;
        color: var(--body_color);
    }
    .qualification__subtitle{
        font-size: 14px;
    }
    .qualification__data {
        column-gap: 4rem;
    }
}

.qualification__button {
    margin: 0.75rem;
}

/* For small devices */
@media screen and (max-width:350px) {
    .qualification__data {
        gap: 0.1rem;
    }
}

@media screen and (max-width: 412px) {
    .qualification__data {
        gap: 0.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    .qualification__container {
        margin-left: 13px;
        margin-right: auto;
    }
    .qualification__button {
        font-size: 15px;
        gap: 0px;
    }
    .qualification__title{
        font-size: 14px;
        color: var(--body_color);
    }
    .qualification__subtitle{
        font-size: 14px;
    }
}